<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Administrador</title>
  </head>
  <body>
    <h1>Bienvenido, Superadministrador</h1>
    <h2>Gestión de Datos</h2>
    <ul>
      <li><a href="{% url 'rutina_list' %}">Gestión de Rutinas</a></li>
      <li><a href="{% url 'ejercicio_list' %}">Gestión de Ejercicios</a></li>
      <li>
        <a href="{% url 'planalimentacion_list' %}"
          >Gestión de Planes de Alimentación</a
        >
      </li>
      <li><a href="{% url 'comida_list' %}">Gestión de Comidas</a></li>
    </ul>
    <a href="{% url 'logout' %}">Cerrar Sesión</a>
  </body>
</html>
