{% extends "accounts/base.html" %} {% block content %}
<h2>Lista de Comidas</h2>
<a href="{% url 'create_comida' %}">Crear Nueva Comida</a>
<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Hora</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Unidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for comida in comidas %}
    <tr>
      <td>{{ comida.tipo }}</td>
      <td>{{ comida.hora }}</td>
      <td>{{ comida.nombre }}</td>
      <td>{{ comida.cantidad }}</td>
      <td>{{ comida.unidad }}</td>
      <td>
        <a href="{% url 'update_comida' comida.pk %}">Editar</a> |
        <a href="{% url 'delete_comida' comida.pk %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'admin_dashboard' %}">Volver al Dashboard</a>
{% endblock %}
