<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-[#232325] flex items-center justify-center min-h-screen text-white"
  >
    <div class="bg-[#242426] p-8 rounded-lg shadow-lg max-w-md w-full">
      <div class="text-center mb-6">
        <img
          src="https://scontent.fuio1-2.fna.fbcdn.net/v/t1.15752-9/462546084_1868004693728112_3877166154165198402_n.png?_nc_cat=108&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeFJPlczIa1f83OsPAm5UHBQQVRJwZaEt4NBVEnBloS3g_PCwZ7FZ8NTOb9SNfgXwApLH9alwh27zUD6R1x4tOsl&_nc_ohc=BChhet53_1UQ7kNvgGsdS04&_nc_zt=23&_nc_ht=scontent.fuio1-2.fna&oh=03_Q7cD1QHbYa30Dd1qJ-nT_eoVwfqimd3-wJtwjVID7TG5vi9b2Q&oe=677EE68D"
          alt="Logo"
          class="mx-auto mb-4 w-10 h-10"
        />
        <!-- Replace with actual logo -->
        <h2 class="text-2xl font-bold text-white">Bienvenido</h2>
        <p class="text-gray-400">Por favor, incia sesión con tu cuenta</p>
      </div>

      <form method="post" class="space-y-4">
        {% csrf_token %}
        <div>
          <label for="username" class="block text-sm font-medium text-gray-300"
            >Nombre de usuario</label
          >
          <input
            type="text"
            id="username"
            name="username"
            class="w-full px-4 py-2 bg-[#232424] border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-[#3F9216]"
            required
          />
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-300"
            >Contraseña</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="w-full px-4 py-2 bg-[#232424] border border-gray-600 rounded-lg text-white focus:outline-none focus:ring-2 focus:ring-[#3F9216]"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <label class="inline-flex items-center text-sm text-gray-300">
            <input
              type="checkbox"
              class="form-checkbox h-4 w-4 text-[#3F9216]"
            />
            <span class="ml-2">Recuerdame</span>
          </label>
          <a href="#" class="text-sm text-[#3F9216] hover:underline"
            >¿Olvidaste tu contraseña?</a
          >
        </div>
        <button
          type="submit"
          class="w-full bg-[#3F9216] hover:bg-[#2f6f11] text-white font-bold py-2 rounded-lg transition duration-200"
        >
          Iniciar sesión
        </button>
      </form>

      <div class="text-center mt-4">
        <p class="text-gray-400">
          ¿Aúnno tienes una cuenta?
          <a href="{% url 'register' %}" class="text-[#3F9216] hover:underline"
            >Registrate</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
