<!-- templates/accounts/planalimentacion_list.html -->
{% extends "accounts/base.html" %} {% block content %}
<h2>Planes de Alimentación</h2>
<a href="{% url 'create_planalimentacion' %}">Create New Plan</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for plan in planes %}
    <tr>
      <td>{{ plan.id }}</td>
      <td>{{ plan.fechaInicio }}</td>
      <td>{{ plan.fechaFin }}</td>
      <td>
        <a href="{% url 'update_planalimentacion' plan.id %}">Edit</a> |
        <a href="{% url 'delete_planalimentacion' plan.id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
