{% extends 'accounts/base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Rutinas</title>
  </head>
  <body>
    <h1>Lista de Rutinas</h1>
    <ul>
      {% for rutina in rutinas %}
      <li>
        Rutina para {{ rutina.cliente.username }} del {{ rutina.fecha_inicio }}
        al {{ rutina.fecha_fin }}
        <a href="{% url 'update_rutina' rutina.pk %}">Editar</a>
        <a href="{% url 'delete_rutina' rutina.pk %}">Eliminar</a>
      </li>
      {% endfor %}
    </ul>
    <a href="{% url 'admin_dashboard' %}">Volver al Dashboard</a>
  </body>
</html>

{% endblock %}
