{% extends "accounts/base.html" %} {% block content %}
<h2>Lista de Rutinas</h2>
<a href="{% url 'create_rutina' %}">Crear Nueva Rutina</a>
<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Fin</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for rutina in rutinas %}
    <tr>
      <td>{{ rutina.cliente.username }}</td>
      <td>{{ rutina.fecha_inicio|date:"M d, Y" }}</td>
      <td>{{ rutina.fecha_fin|date:"M d, Y" }}</td>
      <td>
        <a href="{% url 'update_rutina' rutina.pk %}">Editar</a> |
        <a href="{% url 'delete_rutina' rutina.pk %}">Eliminar</a>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <strong>Detalles de los ejercicios asignados:</strong>
        <ul>
          {% for ejercicio in rutina.ejercicios.all %}
          <li>
            {{ ejercicio.nombre }} - Series: {{ ejercicio.series }},
            Repeticiones: {{ ejercicio.repeticiones }}, Peso Recomendado: {{
            ejercicio.peso_recomendado }}
          </li>
          {% empty %}
          <li>No hay ejercicios asignados.</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'admin_dashboard' %}">Volver al Dashboard</a>
{% endblock %}
